
@{
    ViewBag.Title = "PracticeIndex";
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Practice.js"></script>


@*hello changes here*@
@*ok,done*@

<h2>PracticeIndex</h2>
<input type="hidden" id="hdnid" />
<input type="text" id="txtName" placeholder="enter name" /></br></br>
<input type="text" id="txtLast_Name" placeholder="last name" /></br></br>
<input type="number" id="txtMobile_no" placeholder="Mobileno" /></br></br>
<input type="text" id="txtEmail_id" placeholder="enter Emailid " /></br></br>
<input type="text" id="txtCity" placeholder="enter city " /></br></br>
<input type="button" value="submit" class="alert-success" onclick="savereg()" />
<table id="lstPractice" class="table table-bordered">
    <thead>
        <tr>
            <th>srno</th>
            <th>ID</th>
            <th>Name</th>
            <th>Last_Name</th>
            <th> Mobile_no</th>
            <th>Email_id</th>
            <th>City</th>
            <th></th>

        </tr>
    </thead>
    <tbody></tbody>

</table>